<nav class="navbar py-2 fixed-top">
  <div class="container">
    <a href="/" class="navbar-brand"><h1>ePonger</h1></a>
    <button
      class="navbar-toggler navbar-toggler-icon"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    ></button>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="sheets" class="nav-link">Sheets</a>
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link">About the software</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
