<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sheets</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar py-2 fixed-top">
      <div class="container">
        <a href="" class="navbar-brand"><h1>ePonger</h1></a>
        <button
          class="navbar-toggler navbar-toggler-icon"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        ></button>
        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="#about" class="nav-link">About the software</a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="nav-link">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="p-5 text-center">
   
        <div class="container">
            <table>
                <thead>
                  <tr>
                    <th>PN</th>
                    <th>Player</th>
                    <th>Rating</th>
                    <th>W</th>
                    <th>L</th>
                    <th>W</th>
                    <th>L</th>
                    <th>W</th>
                    <th>L</th>
                    <th>W</th>
                    <th>L</th>
                    <th>W</th>
                    <th>L</th>
                    <th>W</th>
                    <th>L</th>
                    <th>W</th>
                    <th>L</th>
                    <th>W</th>
                    <th>L</th>
                  </tr>
                  <tbody>
                    <tr class="vs">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="2" class="blank"></td>
                        <td colspan="2">1vs2</td>
                        <td colspan="2">1vs3</td>
                        <td colspan="2">1vs4</td>
                        <td colspan="2">1vs5</td>
                        <td colspan="2">1vs6</td>
                        <td colspan="2">1vs7</td>
                        <td colspan="2">1vs8</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Mars</td>
                        <td>1500</td>
                        <td class="blank"></td>
                        <td class="blank"></td>
                    </tr>
                    <tr class="vs">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="2">2vs1</td>
                        <td colspan="2" class="blank"></td>
                        <td colspan="2">2vs3</td>
                        <td colspan="2">2vs4</td>
                        <td colspan="2">2vs5</td>
                        <td colspan="2">2vs6</td>
                        <td colspan="2">2vs7</td>
                        <td colspan="2">2vs8</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Sars</td>
                        <td>1400</td>
                        <td>3</td>
                        <td>0</td>
                        <td class="blank"></td>
                        <td class="blank"></td>
                    </tr>
                    <tr class="vs">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="2">3vs1</td>
                        <td colspan="2">3vs2</td>
                        <td colspan="2" class="blank"></td>
                        <td colspan="2">3vs4</td>
                        <td colspan="2">3vs5</td>
                        <td colspan="2">3vs6</td>
                        <td colspan="2">3vs7</td>
                        <td colspan="2">3vs8</td>
                    </tr>
                        <td></td>
                        <td>p3</td>
                        <td>1300</td>
                        <td>1</td>
                        <td>2</td>
                        <td>0</td>
                        <td>3</td>
                        <td></td>
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                        <tr class="vs">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td colspan="2">4vs1</td>
                            <td colspan="2">4vs2</td>
                            <td colspan="2">4vs3</td>
                            <td colspan="2" class="blank"></td>
                            <td colspan="2">4vs5</td>
                            <td colspan="2">4vs6</td>
                            <td colspan="2">4vs7</td>
                            <td colspan="2">4vs8</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>p4</td>
                        </tr>
                        <tr class="vs">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td colspan="2">5vs1</td>
                            <td colspan="2">5vs2</td>
                            <td colspan="2">5vs3</td>
                            <td colspan="2">5vs4</td>
                            <td colspan="2" class="blank"></td>
                            <td colspan="2">5vs6</td>
                            <td colspan="2">5vs7</td>
                            <td colspan="2">5vs8</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>p5</td>
                        </tr>
                        <tr class="vs">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td colspan="2">6vs1</td>
                            <td colspan="2">6vs2</td>
                            <td colspan="2">6vs3</td>
                            <td colspan="2">6vs4</td>
                            <td colspan="2">6vs5</td>
                            <td colspan="2" class="blank"></td>
                            <td colspan="2">6vs7</td>
                            <td colspan="2">6vs8</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>p6</td>
                        </tr>
                        <tr class="vs">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td colspan="2">7vs1</td>
                            <td colspan="2">7vs2</td>
                            <td colspan="2">7vs3</td>
                            <td colspan="2">7vs4</td>
                            <td colspan="2">7vs5</td>
                            <td colspan="2">7vs6</td>
                            <td colspan="2" class="blank"></td>
                            <td colspan="2">7vs8</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>p7</td>
                        </tr>
                        <tr class="vs">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td colspan="2">8vs1</td>
                            <td colspan="2">8vs2</td>
                            <td colspan="2">8vs3</td>
                            <td colspan="2">8vs4</td>
                            <td colspan="2">8vs5</td>
                            <td colspan="2">8vs6</td>
                            <td colspan="2">8vs7</td>
                            <td colspan="2" class="blank"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>p8</td>
                        </tr>
                  </tbody>
                </thead>
              </table>
        </div>


    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
