body::before {
    display: block;
    content: '';
    height: 60px;
}


/* .navbar {
    background-color: #e3f2fd;
} */

/* spacing */


thead th {
    border-bottom: solid;
    width: 500px;
}

td {
    margin-top: 0px;
    padding: 0px;
}

td input {
    width: 30px
}

tr.vs {
    height: 2px;
    font-size: .75em;

}

.blank {
    background-color: grey;
}